### Requirements

Articulate “Specific aim”

Outline proposed methods and models

Define risks & assumptions

Revise initial goals & success criteria, as needed

Create local database

Describe data cleaning/munging techniques

Create a data dictionary

Perform & summarize EDA

In [9]:
texas = pd.read_csv('statement_data.csv')

In [10]:
texas.head()

,execution,offender_information,last_statement,last_name,first_name,tdcj_number,age,date,race,county,statement_text
0,538,http://www.tdcj.state.tx.us/death_row/dr_info/...,http://www.tdcj.state.tx.us/death_row/dr_info/...,Fuller,Barney,999481,58,10/05/2016,White,Houston,"I don't have anything to say, you can proceed ..."
1,537,http://www.tdcj.state.tx.us/death_row/dr_info/...,http://www.tdcj.state.tx.us/death_row/dr_info/...,Vasquez,Pablo,999297,38,04/06/2016,Hispanic,Hidalgo,"I just want to tell my family thank you, my mo..."
2,536,http://www.tdcj.state.tx.us/death_row/dr_info/...,http://www.tdcj.state.tx.us/death_row/dr_info/...,Ward,Adam,999525,33,03/22/2016,White,Hunt,I would like to thank everyone that has showed...
3,535,http://www.tdcj.state.tx.us/death_row/dr_info/...,http://www.tdcj.state.tx.us/death_row/dr_info/...,Wesbrook,Coy,999281,58,03/09/2016,White,Harris,"Yeah, first off, I want to say that I am sorry..."
4,534,http://www.tdcj.state.tx.us/death_row/dr_info/...,http://www.tdcj.state.tx.us/death_row/dr_info/...,Garcia,Gustavo,999018,43,02/16/2016,Hispanic,Collin,"To my family, to my mom, I love you. God bless..."

In [11]:
texas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538 entries, 0 to 537
Data columns (total 11 columns):
execution               538 non-null int64
offender_information    538 non-null object
last_statement          538 non-null object
last_name               538 non-null object
first_name              538 non-null object
tdcj_number             538 non-null int64
age                     538 non-null int64
date                    538 non-null object
race                    538 non-null object
county                  538 non-null object
statement_text          538 non-null object
dtypes: int64(3), object(8)
memory usage: 46.3+ KB

In [16]:
#Process the dates
texas.date.map(len).value_counts()

10    536
9       2
Name: date, dtype: int64

In [20]:
#The two dates which are nine characters long could be malformed, let's check.
texas.date[texas.date.map(len) == 9]
#Not malformed, so we can process them in bulk.

9      10/6/2015
118    11/6/2008
Name: date, dtype: object

In [22]:
texas.columns

Index([u'execution', u'offender_information', u'last_statement', u'last_name',
       u'first_name', u'tdcj_number', u'age', u'date', u'race', u'county',
       u'statement_text'],
      dtype='object')

In [25]:
import datetime

def _read_date(date):
    return datetime.datetime.strptime(date, '%m/%d/%Y')

texas.date_execution = texas.date.map(_read_date)

In [28]:
race_counts = texas['race'].value_counts().reset_index()
race_counts.columns = ['race', 'count']
pop = pd.DataFrame({'race': ['White', 'Black', 'Hispanic', 'Other'], 'count': [196817552, 37685848, 50477594, 23764544]})

In [32]:
#Population data from 2010 Census
pop

       count      race
0  196817552     White
1   37685848     Black
2   50477594  Hispanic
3   23764544     Other

In [31]:
race_counts

       race  count
0     White    239
1     Black    196
2  Hispanic    101
3     Other      2

In [29]:
#Change to different visualization
fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=(10, 6))
pie(ax1, race_counts['count'], labels=race_counts['race'])
pie(ax2, pop['count'], labels=pop['race'])
ax1.set_title('Race distribution among executed people')
ax2.set_title('Race distribution among U.S. population (2010)')
fig.subplots_adjust(wspace=0.5)
plt.show(fig)

NameError: name 'pie' is not defined

In [33]:
#Visualize the age with respect to race.
#Written in python 3
show(Chart(people[['race', 'age_execution']]).mark_bar().encode(
        column=Column('age_execution',
                      bin=Bin(maxbins=10)),
        x=X('race',
            axis=Axis(labels=False, tickSize=0, titleFontSize=0),
            scale=Scale(bandSize=10)),
        y='count(*)',
        color='race',
    ).configure_facet_cell(strokeWidth=0))

NameError: name 'show' is not defined

In [34]:
#Show distribution of gender?

In [36]:
#Compare statement lengths? Count # of sentences in statement.

In [37]:
#Python 3
#Number of executions per year
texas['execution'] = texas.execution.map(lambda d: d.year)
show(Chart(texas).mark_line().encode(
        x=X('execution',
            axis=Axis(format='f'),
            scale=Scale(zero=False)),
        y='count(*)',
    ))

AttributeError: 'int' object has no attribute 'year'

In [38]:
#Crimes map
#Python 3
import scrapy
import requests

counties = []
body = scrapy.Selector(
    text=requests.get('https://en.wikipedia.org/wiki/User:Michael_J/County_table').text
)
_, *rows = body.css('table tr')
for row in rows:
    cols = row.css('td ::text').extract()
    if cols[1] == 'TX':
        lat, long = map(lambda i: i.strip('°').replace('\u2013', '-'), cols[-2:])
        counties.append((cols[3], lat, long))
counties = pd.DataFrame(counties, columns=['county', 'lat', 'lon'])
#Gets coordinates of each county

SyntaxError: invalid syntax (<ipython-input-38-afcceb280387>, line 9)

In [43]:
#Know it is possible to add in a Jupyter notebook-- an interactive heat map is drawn as a layer over a Google Map

In [39]:
#Frequency Analysis-- frequency of certain words in last statement

In [42]:
#Know there is capability with WordCloud to generate pretty visualization for final presentation

### Questions to Investigate:

Background/History of Death Penalty for Final presentation

Sentiment Analysis?

Most Common words of DR Inmates at Execution?

Religious/God words mentioned?

Most important words for each cluster?.... show colorful examples here

Avg. Time on Death Row?

Shortest Time? And who?

Longest Time on Death Row?

Avg. Age at Execution?

Youngest Executed? Oldest? --- narrow down to name, then specify offense in particular document to paint a better picture

Race Breakdown of Executed Inmates?

Family Members most frequently addressed in last statements?

### How:

Modeling scikit learn?

KMeans & Silhouette Method?

### Extras

Older project with statements and offenses under inmate name, paints better picture
http://projectexas.appspot.com/